# dependencies
node_modules/

# environment
.env
.env.*

# builds
dist/
build/

# test / coverage
coverage/

# logs
logs/
*.log

# user uploads
uploads/

*.txt
atlas_export.js
local_import.js
atlas_data.json